.zeroPadding {
    padding: 0 !important;
}

.cardBodyMain {
    background: #f2f2f2;
}

.cardBody {
    background-color: #ffffff;
}

.cursor {
    cursor: pointer;
}

.settingsText {
    color: #000000;
    font-size: 18px;
    font-family: AmazonEmber-Light;
}

.phoneTypeText {
    color: #000000;
    font-size: 14px;
    font-family: AmazonEmber-Light;
}

