.zeroPadding {
    padding: 0 !important;
}

.cardBodyMain {
    background: #f2f2f2;
}

.cardBody {
    background-color: #ffffff;
}

.quickConnectText {
    color: #000000;
    font-size: 18px;
    font-family: AmazonEmber;
}

.quickConnectSearch {
    font-family: AmazonEmber;
    color: #000000;
    border: 1px solid #000000;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0;
    box-shadow: none;
}

.quickConnectSearch:focus {
    border: 1px solid #000000;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.29);
}

.contactListBox {
    margin-top: 14px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 250px;
    overflow-y: auto;
    /*box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.29);*/
    box-shadow: none;
}

.contactItem {
    /*background: #3388DD;*/
    /*color: #FFFFFF;*/
}

.contactItem:hover {
    background: #3388DD;
    color: #FFFFFF;
}

.contactItem:hover .dialButton {
    visibility: visible;
    color: #FFFFFF !important;
}

.contactItem:hover .contactName {
    color: #FFFFFF !important;
}

.contactName {
    font-family: AmazonEmber;
    color: #000000 !important;
}

.dialButton {
    visibility: hidden;
    background-color: #46596E;
    font-family: AmazonEmber;
    color: #ffffff !important;
    cursor: pointer;
    /*border-radius: 0 !important;*/
    /*border: 15em;*/
    /*border-top: 15em;*/
    /*border-bottom: 15em;*/
}

.cursor {
    cursor: pointer;
}

