.reportBoxMain {
    margin-top: -10.5em;
    max-width: 96% !important;
    margin-left: 2% !important;
    position: absolute !important;
    height: 15em !important;
}

.reportBox {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.reportText {
    height: 40px;
    font-family: AmazonEmber;
    font-size: 16px;
    color: #000000;
}

.issueReportText {
    height: 34px;
    font-family: AmazonEmber;
    font-size: 14px;
    color: #000000;
}

.skip {
    opacity: 0.6;
    font-family: AmazonEmber;
    font-size: 14px;
    text-align: center;
    color: #000000;
}

.report {
    font-family: AmazonEmber;
    font-size: 14px;
    text-align: center;
    color: #3885de;
    padding-left: 0;
    margin-left: 0;
}

.cursor{
    cursor: pointer;
}
