@font-face {
    font-family: 'AmazonEmber';
    src: url('/static/fonts/AmazonEmber_Rg.ttf');
}

@font-face {
    font-family: 'AmazonEmber-regular';
    src: url('/static/fonts/AmazonEmber_Rg.ttf');
}

@font-face {
    font-family: 'AmazonEmber-light';
    src: url('/static/fonts/AmazonEmber_Lt.ttf');
}
