.acHeader {
    background-color: #525252;
    height: 48px;
    width: 319px;
}

.csioLogo {
    width: 24px;
    height: 24px;
}

.csioChangeStatus {
    padding-right: 0;
    cursor: pointer;
}

.csioHeaderText {
    font-family: AmazonEmber;
    color: #ffffff;
}

.acPointer {
    cursor: pointer;
}
