.acHeader {
    background-color: #525252;
    height: 42px;
    width: 319px;
}

.csioLogo {
    width: 24px;
    height: 24px;
}

.csioChangeStatus {
    cursor: pointer;
}

.csioHeaderText {
    font-family: AmazonEmber;
    color: #ffffff;
    font-size: 15px;
}

.acPointer {
    cursor: pointer;
}

.dialerImage {
    margin-top: 0.5em;
}
